USE [MvcProjeKampi]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[AboutDetails1] [nvarchar](1000) NULL,
	[AboutDetails2] [nvarchar](1000) NULL,
	[AboutImage1] [nvarchar](200) NULL,
	[AboutImage2] [nvarchar](200) NULL,
	[AboutStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](60) NULL,
	[Password] [nvarchar](60) NULL,
	[UserRole] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](60) NULL,
	[CategoryDescription] [nvarchar](300) NULL,
	[CategoryStatus] [bit] NOT NULL,
	[CategoryColor] [nvarchar](15) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](60) NULL,
	[UserMail] [nvarchar](70) NULL,
	[Subject] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contents]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[ContentId] [int] IDENTITY(1,1) NOT NULL,
	[ContentValue] [nvarchar](1000) NULL,
	[ContentDate] [datetime] NOT NULL,
	[HeadingId] [int] NOT NULL,
	[WriterId] [int] NULL,
	[ContentStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headings]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headings](
	[HeadingId] [int] IDENTITY(1,1) NOT NULL,
	[HeadingName] [nvarchar](60) NULL,
	[HeadingDate] [datetime] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[WriterId] [int] NOT NULL,
	[HeadingStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Headings] PRIMARY KEY CLUSTERED 
(
	[HeadingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](200) NULL,
	[ImagePath] [nvarchar](1000) NULL,
	[DenemeImage_ImageId] [int] NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderMail] [nvarchar](100) NULL,
	[ReceiverMail] [nvarchar](100) NULL,
	[Subject] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Writers]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writers](
	[WriterId] [int] IDENTITY(1,1) NOT NULL,
	[WriterName] [nvarchar](60) NULL,
	[WriterSurname] [nvarchar](60) NULL,
	[WriterImage] [nvarchar](400) NULL,
	[WriterMail] [nvarchar](200) NULL,
	[WriterPassword] [nvarchar](200) NULL,
	[WriterAbout] [nvarchar](250) NULL,
	[WriterTitle] [nvarchar](50) NULL,
	[WriterStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Writers] PRIMARY KEY CLUSTERED 
(
	[WriterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YetenekHeadings]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YetenekHeadings](
	[YetenekHeadingId] [int] IDENTITY(1,1) NOT NULL,
	[YetenekHeadingTitleName] [nvarchar](150) NULL,
	[YetenekHeadingName] [nvarchar](150) NULL,
	[YetenekHeadingUnvan] [nvarchar](150) NULL,
	[YetenekHeadingImg] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.YetenekHeadings] PRIMARY KEY CLUSTERED 
(
	[YetenekHeadingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yeteneklers]    Script Date: 30.01.2023 19:12:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yeteneklers](
	[YeteneklerId] [int] IDENTITY(1,1) NOT NULL,
	[YeteneklerName] [nvarchar](150) NULL,
	[YeteneklerValue] [nvarchar](3) NULL,
 CONSTRAINT [PK_dbo.Yeteneklers] PRIMARY KEY CLUSTERED 
(
	[YeteneklerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutId], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (2, N'Detay 1', N'Detay 2', N'/webAdmin/dist/img/user1-128x128.jpg', N'/webAdmin/dist/img/user1-128x128.jpg', 1)
INSERT [dbo].[Abouts] ([AboutId], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (3, N'Bu bir detay kısmıdır', N'Bu kısım detay alanıdır', N'https://i0.wp.com/www.malumatfurus.org/wp-content/uploads/aynur-adalet-yapay-zeka-profil-fotosu.jpg?resize=300%2C300&ssl=1', N'https://i0.wp.com/www.malumatfurus.org/wp-content/uploads/aynur-adalet-yapay-zeka-profil-fotosu.jpg?resize=300%2C300&ssl=1', 1)
INSERT [dbo].[Abouts] ([AboutId], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [AboutStatus]) VALUES (4, N'detay ', N'detay', N'https://i0.wp.com/www.malumatfurus.org/wp-content/uploads/aynur-adalet-yapay-zeka-profil-fotosu.jpg?resize=300%2C300&ssl=1', N'https://i0.wp.com/www.malumatfurus.org/wp-content/uploads/aynur-adalet-yapay-zeka-profil-fotosu.jpg?resize=300%2C300&ssl=1', 0)
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [UserName], [Password], [UserRole]) VALUES (30, N'dgplq', N'6789', N'A')
INSERT [dbo].[Admins] ([AdminId], [UserName], [Password], [UserRole]) VALUES (31, N'dgplq5', N'6789', N'B')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus], [CategoryColor]) VALUES (2, N'Eğitim', N'Bu eğitim kategorisidir', 1, N'#f45757')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus], [CategoryColor]) VALUES (3, N'Tiyatro', N'Bu tiyatro kategorisidir', 1, N'#3dfff2')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus], [CategoryColor]) VALUES (4, N'Kitap', N'Bu kitap kategorisidir', 1, N'#d7adad')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [UserName], [UserMail], [Subject], [Message], [date]) VALUES (1, N'Bugra', N'bugra@gmail.co', N'Test ', N'Test mesaj', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactId], [UserName], [UserMail], [Subject], [Message], [date]) VALUES (2, N'test', N'mesaj@gmail.com', N'dkfldkfdlkfl', N'lfkdlfk ldkf ldkf lk ldfk dlf ld dlf kdl k kdl kdlf kdk ldkfldk ', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Contents] ON 

INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (1, N'Walter White''ın efsane yaşam öyküsü', CAST(N'2022-04-12T00:00:00.000' AS DateTime), 2, 3, 1)
INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (3, N'Çok Beğendim efsane bir film olmuş', CAST(N'2020-10-11T00:00:00.000' AS DateTime), 3, 4, 1)
INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (4, N'Evet gerçekten harikaydı.', CAST(N'2022-10-20T00:00:00.000' AS DateTime), 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Contents] OFF
GO
SET IDENTITY_INSERT [dbo].[Headings] ON 

INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (2, N'Breaking Bad', CAST(N'2022-07-10T00:00:00.000' AS DateTime), 7, 3, 1)
INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (3, N'Green Book', CAST(N'2020-07-09T00:00:00.000' AS DateTime), 6, 1, 1)
INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (4, N'İtiraflarım', CAST(N'2022-06-12T00:00:00.000' AS DateTime), 4, 3, 1)
SET IDENTITY_INSERT [dbo].[Headings] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath], [DenemeImage_ImageId]) VALUES (13, N'Kayseri Kalesi Ve Surları', N'/Image/kayseri-kalesi-1068x558.jpg', NULL)
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath], [DenemeImage_ImageId]) VALUES (14, N'Kayseri Saat Kulesi', N'/Image/saat-kulesi-1068x558.jpg', NULL)
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath], [DenemeImage_ImageId]) VALUES (15, N'Eski Kayseri Evleri', N'/Image/eski-kayseri-evleri-1068x558.jpg', NULL)
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [SenderMail], [ReceiverMail], [Subject], [Content], [Date], [Status]) VALUES (1, N'bugra@gmail.com', N'admin@gmail.com', N'Yazılım', N'Web yazılımcının yol haritası nedir?', CAST(N'2021-12-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Messages] ([MessageId], [SenderMail], [ReceiverMail], [Subject], [Content], [Date], [Status]) VALUES (3, N'admin@gmail.com', N'ali@gmail.com', N'Yemek Tarifi', N'Mercimek çorbası nasıl yapılır?', CAST(N'2020-10-12T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Messages] ([MessageId], [SenderMail], [ReceiverMail], [Subject], [Content], [Date], [Status]) VALUES (8, N'ali@gmail.com', N'admin@gmail.com', N'Hal Hatır', N'Nasılsın admin?', CAST(N'2022-08-15T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Writers] ON 

INSERT [dbo].[Writers] ([WriterId], [WriterName], [WriterSurname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (1, N'Admin', N'Yazar', N'https://thumbs.dreamstime.com/b/red-admin-sign-pc-laptop-vector-illustration-administrator-icon-screen-controller-man-system-box-88756468.jpg', N'admin@admin.com', N'1234', N'   Bu bir admin yazardır.   ', N'Admin', 0)
INSERT [dbo].[Writers] ([WriterId], [WriterName], [WriterSurname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (2, N'Mehmet', N'Çınar', N'https://cdn1.ntv.com.tr/gorsel/Hz-WDr0iS0KsipYLn9F5vQ.jpg?width=1000&mode=crop&scale=both', N'mehmet@gmail.com', N'1234', N'        hakkında test      ', N'Yazılımcı', 0)
INSERT [dbo].[Writers] ([WriterId], [WriterName], [WriterSurname], [WriterImage], [WriterMail], [WriterPassword], [WriterAbout], [WriterTitle], [WriterStatus]) VALUES (3, N'Emel ', N'Öztürk', N'https://cdn.r10.net/editor/104108/fa4c3fa35d61174292c7707942ddf71d.jpeg', N'emel@gmail.com', N'3212', N'   Gezmeyi çok sever. Gezmekten hiç sıkılmaz. ', N'Tur Rehberi', 0)
SET IDENTITY_INSERT [dbo].[Writers] OFF
GO
SET IDENTITY_INSERT [dbo].[YetenekHeadings] ON 

INSERT [dbo].[YetenekHeadings] ([YetenekHeadingId], [YetenekHeadingTitleName], [YetenekHeadingName], [YetenekHeadingUnvan], [YetenekHeadingImg]) VALUES (1, N'Yetenek Kartım', N'Budotekno', N'Full Stack Developer', N'/webAdmin/dist/img/Logo.png')
SET IDENTITY_INSERT [dbo].[YetenekHeadings] OFF
GO
SET IDENTITY_INSERT [dbo].[Yeteneklers] ON 

INSERT [dbo].[Yeteneklers] ([YeteneklerId], [YeteneklerName], [YeteneklerValue]) VALUES (1, N'C#', N'52')
INSERT [dbo].[Yeteneklers] ([YeteneklerId], [YeteneklerName], [YeteneklerValue]) VALUES (2, N'.Net Mvc', N'35')
INSERT [dbo].[Yeteneklers] ([YeteneklerId], [YeteneklerName], [YeteneklerValue]) VALUES (5, N'Angular', N'19')
SET IDENTITY_INSERT [dbo].[Yeteneklers] OFF
GO
ALTER TABLE [dbo].[Abouts] ADD  DEFAULT ((0)) FOR [AboutStatus]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [date]
GO
ALTER TABLE [dbo].[Contents] ADD  DEFAULT ((0)) FOR [ContentStatus]
GO
ALTER TABLE [dbo].[Headings] ADD  DEFAULT ((0)) FOR [HeadingStatus]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Writers] ADD  DEFAULT ((0)) FOR [WriterStatus]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingId] FOREIGN KEY([HeadingId])
REFERENCES [dbo].[Headings] ([HeadingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingId]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterId] FOREIGN KEY([WriterId])
REFERENCES [dbo].[Writers] ([WriterId])
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterId]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterId] FOREIGN KEY([WriterId])
REFERENCES [dbo].[Writers] ([WriterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterId]
GO
ALTER TABLE [dbo].[ImageFiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImageFiles_dbo.ImageFiles_DenemeImage_ImageId] FOREIGN KEY([DenemeImage_ImageId])
REFERENCES [dbo].[ImageFiles] ([ImageId])
GO
ALTER TABLE [dbo].[ImageFiles] CHECK CONSTRAINT [FK_dbo.ImageFiles_dbo.ImageFiles_DenemeImage_ImageId]
GO
